body {
  padding:50px;
  display:flex;
  justify-content: center;
}

.categories-container{
  display: flex;
  justify-content: center;
}

.categroy-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}